@import '../../theme/reset';
@import '../../theme/palette';

.film {
  margin: 10px;
  width: 20%; 

  a {    
    text-decoration: none;
  }

  h4 {
    text-align: center;
    color: $color4;
  }

  figure {
    margin: 0;
    width: 100%;
    position: relative;

    figcaption {
      background: $color2;
      border-radius: 0 0 0 10px;
      color: $color4;
      font-weight: bold;
      padding: 5px 8px;
      position: absolute;
      right: 0;
      top: 0;
    }
  
    img {
      max-width: 100%;        
      margin: 0 auto;   
    }
  }
}